<div class="blog-post">
  <div class="blog-post-img1">
    <img src= "assets/imgs/farmer.png" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>Sanket Pawar</h2>

    </div>
    <div class="blog-post-date">
     <b> <span>Contact Number: </span></b>
      <span>8788336221</span><br>
      <b> <span>Email Id: </span></b>
         <span>sanket.pawar@gmail.com </span><br>
    </div>
    <div class="blog-post-desc">
      <b> <span>Location: </span></b>
      <span>Sinchan Nagar, Pune -413502 </span><br>
    </div>
  </div>
</div>


<div class="blog-post">
  <div class="blog-post-img1">
    <img src= "assets/imgs/farmer2.png" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>Abhishek Kolhe</h2>

    </div>
    <div class="blog-post-date">
      <b> <span>Contact Number: </span></b>
       <span>8788336221</span><br>
       <b> <span>Email Id: </span></b>
          <span>abhishek.kolhe@gmail.com </span><br>
     </div>
     <div class="blog-post-desc">
       <b> <span>Location: </span></b>
       <span>Sinchan Nagar, Pune -413502 </span><br>
     </div>
   </div>
 </div>


<div class="blog-post">
  <div class="blog-post-img1">
    <img src= "assets/imgs/farmer.png" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>Shubham Kamble </h2>

    </div>
   <div class="blog-post-date">
     <b> <span>Contact Number: </span></b>
      <span>8788336221</span><br>
      <b> <span>Email Id: </span></b>
         <span>shubham.kamble@gmail.com </span><br>
    </div>
    <div class="blog-post-desc">
      <b> <span>Location: </span></b>
      <span>Sinchan Nagar, Pune -413502 </span><br>
    </div>
  </div>
</div>

<div class="blog-post">
  <div class="blog-post-img1">
    <img src= "assets/imgs/farmer2.png" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>Ashwin Kulkarni</h2>

    </div>
    <div class="blog-post-date">
      <b> <span>Contact Number: </span></b>
       <span>8788336221</span><br>
       <b> <span>Email Id: </span></b>
          <span>ashwin.kulkarni@gmail.com </span><br>
     </div>
     <div class="blog-post-desc">
       <b> <span>Location: </span></b>
       <span>Sinchan Nagar, Pune -413502 </span><br>
     </div>
   </div>
 </div>

<div class="blog-post">
  <div class="blog-post-img1">
    <img src= "assets/imgs/farmer.png" alt="tree">
  </div>
  <div class="blog-post-info">
    <div class="blog-post-title">
      <h2>Raju Gawde</h2>

    </div>
    <div class="blog-post-date">
      <b> <span>Contact Number: </span></b>
       <span>8788336221</span><br>
       <b> <span>Email Id: </span></b>
          <span>raju.gawde@gmail.com </span><br>
     </div>
     <div class="blog-post-desc">
       <b> <span>Location: </span></b>
       <span>Sinchan Nagar, Pune -413502 </span><br>
     </div>
   </div>
 </div>

