<table>
  <tr>
    <th>Sr No.</th>
    <th>Name</th>
    <th>Contact</th>
    <th>Town</th>
  </tr>
  <tr>
    <td>1.</td>
    <td>Suryakant Kadam</td>
    <td>9032145678</td>
    <td>Chakan</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>Krishna Mohite</td>
    <td>6302154783</td>
    <td>Bhosari</td>
  </tr>
  <tr>
    <td>3.</td>
    <td>Rajesh joshi</td>
    <td>8798745612</td>
    <td>Barshi</td>
  </tr>
  <tr>
    <td>4.</td>
    <td>Arun Shete</td>
    <td>3333333333</td>
    <td>Pule</td>
  </tr>
  <tr>
     <td>5.</td>
    <td>Onkar Kulkarni</td>
    <td>8625043921</td>
    <td>Malvan</td>
  </tr>
  <tr>
    <td>6.</td>
    <td>Chinmay Patange</td>
    <td>8975641230</td>
    <td>Sidhtek</td>
  </tr>
</table>



