<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="commercial">Our Services</a></li>
          <li><a href="about">About us</a></li>
          <li><a href="contact">Contact us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Get help</h4>
        <ul>
          <li><a href="faq">FAQ</a></li>
          <li><a href="residentail">Residential Solar</a></li>
          <li><a href="commercial">Commercial Solar</a></li>
          <li><a href="finance">Solar Power</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Important Links</h4>
        <ul>
          <li><a href="#">Get Solar Energy System</a></li>
          <li><a href="#">Best Solar Energy Company</a></li>
          <li><a href="#">Solar Panel Supplier</a></li>
          <li><a href="#">Solar Panel Installation</a></li>
          <li><a href="#">Solar Retailer</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div>
    <p style="text-align: center; color: #fff; ">Copyright @2021 AYKA | Privacy Policy</p>
  </div>
</footer>
