
                <div class="blog-post">
                  <div class="blog-post-img1">
                    <img src= "assets/image/bg3.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Earn, Don't Burn the Paddy Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>PUNJAB and Haryana have made progress in
                         creating awareness regarding stubble burning.
                         Farmers know that burning crop residue is not good
                         for the environment or the soil. </p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img2">
                    <img src= "assets/image/burn.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Stubble Burning Is A Major Issue</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p> Stubble burning: A problem for the environment,
                        agriculture and humans</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="blog-post">
                  <div class="blog-post-img3">
                    <img src= "assets/image/fine.jpg" alt="tree">
                  </div>
                  <div class="blog-post-info">
                    <div class="blog-post-title">
                      <h2>Farmers will be fined on Burning Stubble</h2>

                    </div>
                    <div class="blog-post-date">
                      <span>Friday</span>
                      <span>June 12 2020</span>
                    </div>
                    <div class="blog-post-desc">
                      <p>'We're Forced to Burn Stubble,
                        Govt Has Failed to Provide Incentives': Punjab Farmers</p>
                    </div>
                    <div class="blog-post-read-more">
                      <a href="#">Read More</a>
                    </div>
                  </div>
                </div>


               