<div class="container">
    <form [formGroup]="forgotPasswordForm" (submit)="forgotPassword()">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Email" formControlName="email">
        <label for="pass">Password</label>
        <input type="password" id="pass" placeholder="New Password" formControlName="password">
        <label for="confirmPass">Confirm password</label>
        <input type="password" id="confirmPass" placeholder="Confirm password" formControlName="confirmPassword">
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
</div>