<div>
  

  <div class="form">
    <table>
    <tr>
    <div class="drop">
           <label for="grain"><b>Grain: </b></label>
           <select name="grain" id="grain">
              <option>Select A Grain</option>
              <option value="1">Wheat</option>
              <option value="2">Rice</option>
              <option value="3">Corn</option>
              <option value="4">Peas</option>
              <option value="5">Cheek-peas</option>
            </select>
    </div>
    </tr>

    <tr>
    <div class="flexrow">
      <div class="input_field">
        <label for="quantity"><b>Quantity: </b></label>
        <input type="text" placeholder="Quantity" class="input">
      </div>
    </div>
    </tr>

  <tr>
  <div class="flexrow2">
    <label for="unit"><b>Unit: </b></label>
    <select name="unit" id="unit" style="width:188px">
        <option>Select Unit</option>
        <option value="1">KG</option>
        <option value="2">LBS</option>
        <option value="3">Ton</option>
    </select>
  </div>
  </tr>

  <tr class="text-center">
  <button class="btn">Calculate</button>
  </tr>

    <tr>
      <div class="input_field">

        <label for="price"><b>Price: </b></label>
        <input disabled type="text" placeholder="₹0.00" text= "₹" class="input">
      </div>
    </tr>




  </table>
  </div>
</div>
