<table>
  <tr>
    <th>Sr No.</th>
    <th>Company</th>
    <th>Contact</th>
    <th>Address</th>
  </tr>
  <tr>
    <td>1.</td>
    <td>Stubble Agro</td>
    <td>1234567890</td>
    <td>Junnar</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>Agro Commercial</td>
    <td>1478523690</td>
    <td>Bhor</td>
  </tr>
  <tr>
    <td>3.</td>
    <td>Parali Utpanna</td>
    <td>9999999999</td>
    <td>Baramati</td>
  </tr>
  <tr>
    <td>4.</td>
    <td>Crop Trading</td>
    <td>7777777777</td>
    <td>Purandar</td>
  </tr>
  <tr>
     <td>5.</td>
    <td>Yogesh Agro</td>
    <td>8888888888</td>
    <td>Maval</td>
  </tr>
  <tr>
    <td>6.</td>
    <td>Unnati Traders</td>
    <td>5555555555</td>
    <td>Sinnar</td>
  </tr>
</table>



